.apartment.page {
  color: bleu;
  h1 {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &.apartment_tags {
    display: ;
    background-color: bleu;
    color: red;
    mar
  }
}
