.apartment.page {
  color: bleu;
  div:first-child {
    margin-bottom: 1rem;
  }
  h1 {
    font-weight: 400;
    margin-block: 0;
  }
  h2 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .apartment-header {
    display: flex;
  }
  .apartment_title {
    flex-grow: 1;
  }
  .apartment_owner_details {
    display: flex;
    gap: 0.5rem;
  }
  .apartment_owner_badge {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aquamarine;
  }
  .apartment_owner_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    * {
      font-size: 2rem;
    }
    .on {
      color: aqua;
    }
    .off {
      color: yellow;
    }
  }

  h3 {
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 400;
  }
}
&.apartment_tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 1rem;
  span {
    background-color: bleu;
    color: red;
    padding: 0.5em 0.5em;
    border-radius: 0.7rem;
    text-align: center;
  }
}
.apartment_description {
  p{
    margin-block: 0;
  }
  .description_header {
    background-color: $color-primary;
    color: $color-tertiary;
    padding:0 1rem;
    border-radius:0.7rem;
    display:flex;
    justify-content:space-between;
    i{}
  }
  .description_content{ 
  background-color: $background-light;
  color: $color-primary;
  padding:1rem;
  border-radius:0 0 1rem 1rem;
  position:relative;
  top:-0.3rem;
  z-index;-1;
}
