
.banner { 
    position:relative;
    background-position: center;
    back
    max-width: 100vw;
    padding-inline:0.2rem;
    background-image:url("https://unsplash.it/800/200") ;
    min-height: 140px;
    max-width: 80vw;
    margin:auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color:white;

}
.banner::before{
    position: absolute;
    content:"";
    opacity: 0.5;
    border-radius:2rem;
    
}